carla==0.9.15
srunner==0.15
pygame==2.6.0
numpy
jupyter
opencv-python==4.2.0.32
pyautogui==0.9.54
py-trees==0.8.3
networkx==2.8.4
Shapely==1.7.1
psutil==5.9.5
xmlschema==1.0.18
ephem==4.1.6
tabulate==0.9.0
opencv-python==4.10.0.84
matplotlib==3.5.3
six==1.16.0
simple-watchdog-timer==0.1.1
antlr4-python3-runtime==4.10
graphviz==0.20.3